<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/allpost.css">
    <link rel="stylesheet" href="./css/createlisting.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

   
</head>
<body>

    <div class="bg-container">
        <header>
                <div class="logo">
                    <a href="/">
                        <img src="/css/images/Logo.png" alt="Logo">
                    </a>
                </div>

                <h2>Big Ecommerce</h2>

                <nav>
    
    
                    

    
                    <div class="navbutton">
                        <a href="#">Become A Supplier</a>
                    </div>
                    
                    <div class="navbutton">
                        <a href="#">Help Center</a>
                    </div>

                   {{#if logged_in}}
                    <a href="/profile">profile</a> 
                    <button class="no-button" id="logout">Logout</button>
                    {{else}}
                    <a href="/login">Login</a>
                    {{/if}}


                    <div class="signupnavbutton">
                        <a href="/login">Sign Up</a>
                    </div>
    
    
                </nav>
        </header>

        <main>
            {{{body}}}
        </main>
            

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js" integrity="sha512-kZKnID21//xaFiEISBXk6V1AdFCPOIpHhuEdBMprlAHdb0ICnvgSLsb89DAixlLJDuPyvNR+hN3lPvsFNn5XLg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="./js/script2.js"></script>
 </body>
 </html>