<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/allpost.css">
   
    <link rel="stylesheet" href="./css/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    {{!-- Add your css library CDN link here --}}
   
</head>
<body>

    <div class="bg-container">
        <header>
                <div class="logo">
                    <a href="/views/home.handlebars">
                        <img src="../../Assets/images/Logo.png" alt="Logo">
                    </a>
                </div>
    
                <nav>
    
    
                    <div class="navbutton">
                        <a href="gettheapp">Get The App</a>
                    </div>
    
                    <div class="navbutton">
                        <a href="#">Become a Supplier</a>
                    </div>
                    
                    <div class="navbutton">
                        <a href="#">Help Center</a>
                    </div>

                   {{#if logged_in}}
                    <a href="/profile">profile</a> |
                    <button class="no-button" id="logout">logout</button>
                    {{else}}
                    <a href="/login">login</a>
                    {{/if}}

                    <div class="signupnavbutton">
                        <a href="signup">Sign Up</a>
                    </div>
    
    
                </nav>
        </header>

        <main>
            {{{body}}}
        </main>
            

 
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="../../script2.js"></script>
 </body>
 </html>